@import url("https://fonts.googleapis.com/css2?family=K2D:wght@300;800&family=Kanit:wght@400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.header {
  width: 99.2vw;
  height: 100vh;
  background-image: url("../weecom-bg-complete.svg");
}

.header__logo--mobile {
  display: none;
}

.header__hamburguer_menu {
  display: none;
}

header {
  width: 80%;
  margin: 0 auto;
  padding: 1.9rem;
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

.hero__title {
  width: 85%;
  margin: 0 auto;
  margin-top: 6.2rem;
  display: flex;
  flex-direction: column;
  padding-right: 13rem;
}

.hero__title h1,
.hero__title h2 {
  color: var(--white);
  font-family: "K2D";
  font-size: 6rem;
  font-weight: 800;
  line-height: 6.25rem;
  text-transform: uppercase;
}

.hero__title h2 {
  font-weight: 300;
  margin-top: 1.5rem;
  align-self: flex-end;
  text-align: right;
}

.hero__title h3 {
  color: var(--white);
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: 500;
  align-self: flex-end;
}

.hero__title h1 span,
.hero__title h2 span {
  color: var(--secondary-color);
}

.hero__title button,
#book-a-call button {
  width: 25rem;
  height: 5rem;
  margin-top: 4rem;
  border-radius: 2.5rem;
  background: var(--primary-color);
  color: var(--white);
  align-self: flex-end;

  font-family: "Kanit";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.46rem;

  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  gap: 1.5rem;
  outline: none;
  border: none;
}

#about-us {
  background-image: url("../about-bg.png");
  background-repeat: no-repeat;

  width: 99vw;
  margin-bottom: 4rem;
}

.about_us__container {
  width: 85%;
  margin: 0 auto;
  margin-top: 5.6rem;
  display: flex;
  flex-direction: column;
  padding-right: 13rem;
}

.about_us__text h2 {
  font-family: "Kanit";
  font-size: 4rem;
  font-weight: 500;
  line-height: 6.25rem;
  text-align: right;
  color: var(--dark-gray);
  position: absolute;
  z-index: 1;
  width: 300px;
  right: 39.5rem;
}

.about_us__container h2 span {
  color: var(--white);
}

.about_us__box {
  display: flex;
  justify-content: flex-end;
}

.about_us__text {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.about_us__text p:first-child {
  margin-top: 2.75rem;
}

.about_us__paragraphs {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  right: 45rem;
  color: var(--dark-gray);
  width: 512px;
}

.about_us__paragraphs p {
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;

  text-transform: uppercase;
}

.about_us__paragraphs p:last-child {
  margin-top: 2rem;
}

.about_us__clients {
  margin: 0 auto;
  margin-top: 6.25rem;
  width: 100%;
}

.about_us__clients h2 {
  font-family: "Kanit";
  font-size: 4rem;
  font-weight: 500;
  line-height: 6.25rem;
  width: 75%;
  margin: 0 auto;
}

.about_us__logos {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#projects {
  width: 99vw;
  height: 60rem;
  background: linear-gradient(180deg, #000916 0%, #070010 100%);
  padding-top: 3.7rem;

  color: var(--secondary-color);
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: 500;
}

#projects h2 {
  color: var(--white-gray);
  font-family: "Kanit";
  font-size: 4rem;
  font-weight: 500;
  line-height: 6.25rem;
  text-align: center;
  margin-top: 3.7rem;
}

.projects__items {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 1.5rem auto;
}

.projects__item {
  border-radius: 2.5rem;
  background: rgba(166, 129, 242, 0.3);
  backdrop-filter: blur(5.5px);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#projects .default {
  width: 15.375rem;
  height: 7.3125rem;
}

.projects__item .border {
  border: 1px solid var(--white);
  position: absolute;
  border-radius: 2.5rem;
  left: 0.62rem;
}

#projects .saas {
  width: 10.6875rem;
  height: 7.3125rem;
}

#projects .top {
  margin-top: 3rem;
}

#projects .top-light {
  margin-top: 2rem;
}

.projects__count {
  width: 40%;
  margin: 0 auto;
  margin-top: 13rem;
  display: flex;
  justify-content: space-between;
}

.projects__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.projects__box h2 {
  color: var(--white);
  font-family: "K2D";
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 6.25rem;
}

.projects__box h3 {
  color: var(--white);
  font-family: "Kanit";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#cards {
  position: relative;
  overflow: hidden;
}

.cards__wrapper {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cards__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cards__card {
  width: 33.33%;
  height: 28.625rem;
  flex: 1 0 33%;
}

#cards .one,
#cards .fourth {
  background: url("../luke-chesser-JKUTrJ4vK00-unsplash\ 1.png"),
    lightgray 50% / cover no-repeat;
}

#cards .two,
#cards .fifth {
  background: url("../path-digital-tR0jvlsmCuQ-unsplash\ 1.png"),
    lightgray 50% / cover no-repeat;
}

#cards .three,
#cards .sixth {
  background: url("../brian-mcgowan-WJ0WWNdmJ3Y-unsplash\ 1.png"),
    lightgray 50% / cover no-repeat;
}

.card__container {
  width: 100%;
  height: 13.4375rem;
  background: linear-gradient(
    360deg,
    rgba(29, 29, 29, 0.73) 0%,
    rgba(249, 249, 249, 0) 100%
  );
  display: flex;
  align-items: flex-end;
  padding: 1.75rem;
}

.card__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cards__card {
  display: flex;
  align-items: flex-end;
}

.card__tag {
  color: var(--white);
  font-family: "Kanit";
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.2875rem;

  display: flex;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  border: 1px solid var(--white-gray);
}

.cards__card p {
  color: var(--white);
  font-family: "Kanit";
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.2875rem;
}

#testimonials {
  background-image: url("../kai-dahms-SbrZdkLtTCY-unsplash\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.testimonials__wrapper {
  position: relative;
  overflow: hidden;
}

.testimonials__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.testimonials__arrows {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.arrows__button:last-child {
  background: rgba(242, 242, 242, 0.46);
}

.arrows__button {
  display: flex;
  border-radius: 2.5rem;
  border: 1px solid var(--almost-whitey);
  padding: 0.5rem;
}

.testimonials__box {
  display: flex;
  flex-direction: column;
  margin-top: 13rem;
}

.testimonials__box h2 {
  color: var(--white-gray);
  font-family: "Kanit";
  font-size: 4rem;
  font-weight: 500;
  line-height: 6.25rem;
}

.testimonials__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.31rem;
  overflow: scroll;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.testimonials__cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.testimonials__card {
  padding: 2.625rem;
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
}

.testimonials__card h4 {
  color: var(--white-gray);
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
}

.testimonials__card p {
  color: var(--white);
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
}

.testimonials__background {
  position: absolute;
  margin-top: -7rem;
  z-index: -1;
}

#book-a-call {
  padding: 10rem 0 5rem 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#book-a-call button {
  align-self: center;
}

#book-a-call h2 {
  color: var(--purple);
  text-align: center;
  font-family: "Kanit";
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: -0.02rem;
  width: 75rem;
}

footer {
  display: flex;
  height: 28.125rem;
  padding: 5rem;
  align-items: flex-start;
  position: relative;
  gap: 6.0625rem;
  background: var(--dark-purple);
}

.footer__info h4 {
  color: var(--white-gray);
  text-align: center;
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: 500;
}

.footer__info p,
.footer__info span {
  color: var(--white);
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
}

.footer__info span {
  color: var(--dark-gold);
}

.footer__address {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__address p {
  color: var(--white-gray);
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
}

.footer__address p:first-child {
  color: var(--dark-gold);
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
}

.footer__menu ul li,
.footer__media ul li {
  list-style: none;
  margin-top: 1rem;

  color: var(--white-gray);

  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
}

.footer__menu ul li:first-child,
.footer__media ul li:first-child {
  margin-top: 0;
}

.footer__media ul li:first-child {
  color: var(--dark-gold);
  font-family: "Kanit";
  font-size: 1rem;
  font-weight: 400;
}

.footer__menu ul li a {
  text-decoration: none;
  color: var(--white-gray);
}

.footer__menu_media {
  display: flex;
  gap: 6rem;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer__newsletter h4 {
  color: var(--white-gray);
  text-align: center;
  font-family: "Kanit";
  font-size: 2rem;
  font-weight: 500;
}

.footer__newsletter input {
  border-radius: 2.5rem;
  border: 2px solid var(--light-gray);
  padding: 0.8rem 2rem;
  background: transparent;
  width: 29rem;
  height: 3.9rem;
  color: var(--light-gray);
  font-family: "Kanit";
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.2875rem;
}

.footer__newsletter input::placeholder {
  color: var(--light-gray);
  font-family: "Kanit";
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.2875rem;
}

.footer__newsletter .footer__input_container {
  position: relative;
}

.footer__newsletter img {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  cursor: pointer;
}

.footer__copyright {
  color: var(--gray);
  font-family: "Kanit";
  font-size: 0.875rem;
  font-weight: 400;
  position: absolute;
  bottom: 1.2rem;
}

@media (max-width: 576px) {
  .show {
    display: flex;
    flex-direction: column;
  }

  .header__mobile_menu {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background: var(--dark-purple);
    top: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .testimonials__background {
    width: 100%;
  }

  .header__mobile_menu span {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    font-size: 2rem;
    color: var(--white);
  }

  .header {
    width: 100%;
  }

  .header__logo {
    display: none;
  }

  .header__logo--mobile {
    display: block;
  }

  .header__hamburguer_menu {
    display: block;
  }

  .hero__title {
    padding-right: 0;
    margin-top: 2rem;
  }

  .hero__title h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .hero__title h2 {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }

  .hero__title h3 {
    color: var(--white);
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    width: 200px;
  }

  .hero__title button {
    width: 13rem;
    height: auto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.23rem;
    margin-top: 1rem;
    padding: 1rem 0.8rem;
  }

  .hero__title button img {
    height: 1rem;
  }

  header {
    width: 100%;
  }

  nav {
    display: none;
  }

  .about_us__logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  #about-us {
    width: 100vw;
  }

  .about_us__container {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 93%;
  }

  .about_us__text h2 {
    position: static;
    font-size: 2rem;
    text-align: left;
    line-height: normal;
  }

  .about_us__container h2 span {
    color: var(--dark-gray);
  }

  .about_us__text img {
    width: 100%;
    margin-top: 1.5rem;
  }

  .about_us__paragraphs {
    position: static;
    margin-top: 1rem;
    width: auto;
    font-size: 1rem;
  }

  .about_us__text p:first-child {
    margin-top: 0;
  }

  .about_us__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about_us__clients {
    margin-top: 4.25rem;
  }

  .about_us__clients h2 {
    font-size: 2rem;

    text-align: center;
  }

  #projects {
    height: auto;
    padding-bottom: 3rem;
  }

  #projects h2 {
    margin-top: 0;
    font-size: 2rem;
  }

  .projects__box h2 {
    font-size: 4rem;
  }

  .projects__box h3 {
    font-size: 1.25rem;
  }

  .projects__item .border {
    left: 0;
    border-radius: 1.875rem;
  }

  .projects__item {
    font-size: 1.25rem;
    border-radius: 1.875rem;
  }

  #projects .default {
    width: 13.375rem;
    height: 5.3125rem;
  }

  #projects .saas {
    width: 8.6875rem;
    height: 5.3125rem;
  }

  #projects .top,
  #projects .top-light {
    margin-top: 0;
  }

  .projects__items {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .projects__count {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .projects__box {
    align-items: center;
  }

  .testimonials__arrows {
    align-self: center;
  }

  .testimonials__box {
    margin-top: 0;
  }

  .testimonials__box h2 {
    font-size: 2rem;
    text-align: center;
  }

  #cards {
    flex-direction: column;
  }

  .cards__card {
    height: 16rem;
  }

  #cards .one,
  #cards .two,
  #cards .three {
    background-size: cover;
    width: 100%;
  }

  .card__data {
    display: grid;
    grid-template-areas:
      "a a"
      "b b";
  }

  .card__tag {
    grid-area: b;
    padding: 0.3rem;
    margin-top: 1rem;
    width: 16rem;
    font-size: 1rem;
  }

  .card__data p {
    grid-area: a;
    font-size: 1rem;
  }

  .testimonials__cards {
    padding-left: 2rem;
  }

  .testimonials__card {
    height: auto;
    width: 24rem;
    padding: 1.5rem;
  }

  .testimonials__card h4 {
    font-size: 1rem;
  }

  #book-a-call button {
    width: 15rem;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.41rem;
    height: 3rem;
  }

  #book-a-call h2 {
    width: 90%;
    font-size: 2rem;
    line-height: normal;
  }

  #book-a-call button img {
    width: 2rem;
  }

  footer {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 2.5rem;
  }

  .footer__menu_media {
    margin-bottom: 2rem;
    width: 100%;
  }

  .footer__menu,
  .footer__media {
    width: 50%;
  }

  .footer__newsletter {
    display: none;
  }

  .footer__info p {
    margin-top: 1rem;
  }

  .footer__info p,
  .footer__info span {
    text-align: center;
    display: block;
  }

  .footer__address p {
    text-align: center;
  }
}
